h1 {
  font-size: 50px;
  font-family: "Coiny", cursive;
  margin-bottom: 0px;
  text-align: center;
}
h2 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}
h3 {
  text-align: center;
  font-size: 20px;
}
body {
  font-family: monospace;
  color: #f6efa6;
}
li {
  list-style-type: none;
}
ul {
  padding-left: 10px;
  font-size: 10px;
  margin: 32px 10px;
}
img {
  display: block;
  margin: 0 auto;
}
.weather {
  background: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%);
  padding: 20px;
  border: 1px solid #f0ece3;
  border-radius: 15px;
  margin: 50px auto;
}
.container {
  max-width: 450px;
}
.status {
  font-size: 15px;
  display: block;
  text-align: center;
  opacity: 70%;
  line-height: 5px;
}
.current {
  font-size: 65px;
  padding-left: 50px;
}
.tempUnit {
  position: relative;
  font-size: 13px;
  top: -32px;
  left: 5px;
}
div.col {
  padding: 0;
  margin: 0 auto;
}
div.row {
  display: inline-flex;
  margin: 0 auto;
  font-size: 10px;
  color: #f6efa6;
}
div.day {
  position: relative;
  left: 10px;
}
.form-row {
  margin: 20px 10px;
}
.form-control {
  padding: 0;
}
