h1 {
  font-size: 60px;
  font-weight: bold;
  font-family: "Alice", serif;
  margin-bottom: 0px;
  text-align: center;
  color: #ff76c0;
}
h2 {
  font-size: 30px;
  font-family: "Amatic SC", cursive;
  margin-bottom: 10px;
  text-align: center;
  color: #a68d65;
}
h3 {
  text-align: center;
  font-size: 23px;
  font-family: "Amatic SC", cursive;
  color: #a68d65;
}
li {
  list-style-type: none;
}
ul {
  font-size: 13px;
  font-family: "Alice", serif;
  margin: 32px 1px;
  color: #2f4858;
}
img {
  display: block;
  margin: 0 auto;
}
.weather-app-wrapper {
  margin: 20px auto;
  max-width: 500px;
}
.weather {
  background: #ffd576;
  padding: 15px;
  border: 1px solid #b5aa99;
  border-radius: 10px;
  text-align: center;
}
.status {
  font-size: 18px;
  font-family: "Alice", serif;
  display: block;
  text-align: center;
  opacity: 70%;
  line-height: 5px;
  color: #4f4537;
}
.current {
  font-size: 85px;
  font-family: "Alice", serif;
  padding-left: 40px;
  color: #2f4858;
}
.tempUnit {
  position: relative;
  font-size: 18px;
  top: -42px;
  left: 5px;
  color: #2f4858;
}
div.col {
  padding: 0;
  margin: 0 auto;
}
div.row {
  display: inline-flex;
  margin: 5px auto;
  font-size: 15px;
  font-family: "Alice", serif;
  font-weight: bold;
  color: #2f4858;
}
div.row.temp {
  position: relative;
  left: 20px;
}
div.day {
  position: relative;
  left: 30px;
  top: -50px;
}
.form-row {
  margin: 0 auto;
  font-family: "Amatic SC", cursive;
  width: 90%;
  padding: 0;
}
#citySearch {
  background-color: #fff8e8;
  font-family: "Amatic SC", cursive;
  font-size: 25px;
  height: 41px;
  margin-top: 2px;
  padding: 1px 60px;
  border-radius: 10px;
  text-align: center;
}
.searchButton {
  background-color: #ff76c0;
  display: block;
  font-family: "Amatic SC", cursive;
  font-size: 25px;
  height: 41px;
  margin-top: 2px;
  padding: 1px 10px;
  border-radius: 10px;
  text-align: center;
}
#showCurrent {
  background-color: #00d3ff;
  display: block;
  font-family: "Amatic SC", cursive;
  height: 41px;
  margin-top: 2px;
  margin-left: 4px;
  padding: 1px 10px;
  border-radius: 10px;
}
.gitLink {
  display: block;
  font-size: 15px;
  font-family: "Amatic SC", cursive;
  padding: 3px;
  text-align: center;
}
